<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QiNiuUploadImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74E13BB81D336EC400E952FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74E13BD41D336EC500E952FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74E13BDF1D336EC500E952FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
